@model Projeto.Web.Areas.Agenda.Models.TarefaViewModelCadastro

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Areas/Agenda/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("CadastrarTarefa", "Tarefa", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <h4>Cadastro de Tarefas</h4>
        <a href="/Agenda/Tarefa/Index">Voltar</a>
        <hr />

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo)
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao)
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataHora, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DataHora, new { @type = "datetime-local" })
                @Html.ValidationMessageFor(model => model.DataHora)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, "- Escolha uma Opção -")
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Tipo, "- Escolha uma Opção -")
                @Html.ValidationMessageFor(model => model.Tipo)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar Tarefa" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @ViewBag.Mensagem
</div>
